/*Figure out why there's space on the sides between the header and footer and the rest of the page.  
Also want to make the footer wider, like on our other sites.
Also change the color of the links, because they're too close to the header bg color.
Also darken the header and footer colors.
Also find out how to not make the body text fall over onto the header.*/
header{
   padding: 20px;
   /*margin-bottom: 25px;
   margin-right: 25px;
   margin-left: 25px;*/
   background-color: #280800;
}

.headerp{
   text-align: left;
   font-size: 46px;
   background-color: #280800;
   color: #FFF1ED;
}

/*Navigation menu*/
nav{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
}

nav .navigation-container{
  width: 100%;
}

nav .navigation-container ul{
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .navigation-container ul li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

nav .navigation-container ul li a{
  text-decoration: none:
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  font-style: italic;
  padding: 10px 5px;
}


/*LINKS*/
a{
 color: #D7A99A;
}

a:visited{
  color: #F2CCBF;
}

a:hover{
  color: #6E554E;
}

a:active{
  color: #D7A99A;
}




/*HEADINGS*/
h1{
  font-size: 46px;
  color: #2F1B00;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 35px;
}

h2{
  text-align: left;
  margin-top: 50px;
  font-size: 35px;
  background-color: #FFF1ED;
  margin-bottom: -25px;
  margin-top: 100px;
  color: #2F1B00;
}

.subheading{
  margin-top: 50px;
}



/*BODY TEXT*/
p{
  font-size: 25px;
  margin-top: -25px;
  background-color: #FFF1ED;
  color: #2F1B00;
}

body{
  height: 50%;
  background-color: #FFF1ED;
  font-family: "Times New Roman", Times, serif;
}


/*MEDIA*/
img{
  width: 100%;
 }

figcaption{
  margin-bottom: 20px;
  font-size: 12px;
  text-align: center;
  color: #491A00;
 }

video{
  width: 100%;
}


/*FOOTER*/
footer{
   padding: 20px;
   /*margin-bottom: 0px;
   margin-right: 0px;
   margin-left: 0px;*/
   background-color: #280800;
}

.footerp{
   text-align: left;
   font-size: 15px;
   background-color: #280800;
   color: #FFF1ED;
}

.footerh3{
   text-align: left;
   font-size: 20px;
   background-color: #280800;
   color: #FFF1ED;
}



/*Three image containers (use 25% for four, and 50% for two, etc (w3schools.com)
.column{
  float: left;
  width: 33.33%;
  padding: 5xp;
}

Clear floats after image containers (w3schools.com)
.rows::after{
  content: "";
  clear: both;
  display: table;
}*/


/*.extra{
   margin-top: 25px;
}*/


/*html{
  height: 50%;
  background-color: #FFF1ED;
}*/

